.balanceContainer {
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: right;
}

.balanceGrid {
  display: grid;
  grid-template-columns: auto 40px;
  gap: 8px;
}

.currentBalance {
  color: var(--green);
}

.changeBalance {
  color: var(--gold);
}

.arrowsIcon {
  background-color: var(--opacity-10);
  align-self: end;
  justify-self: start;
  padding: 10px;
  margin-bottom: 4px;
  transition: var(--transition);
  cursor: pointer;
}

.arrowsIcon:hover {
  background-color: var(--opacity-20);

}