/* Container */
.engineContainer {
  position: relative;
}

/* Engine Details Position */
.engineDetails {
  position: absolute;
  top: -50px;
  left: calc(100% + 40px);
}

/* Engine List */
.engineList {
  margin-top: 4px;
  display: grid;
  gap: 4px;
}

.engineList > li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  padding: 0px 8px;
  background-color: var(--opacity-10);
  cursor: pointer;
  transition: var(--transition);
  border: 1px solid transparent;
}

.engineList > li:hover {
  background-color: var(--opacity-20);
}

.engineList > li:hover:after {
  content: '';
  position: absolute;
  right: -31px;
  top: -1px;
  width: 25px;
  height: calc(100% + 2px);
  background: url('../../../../assets/icons/tick-circle.svg') no-repeat center center rgba(9, 184, 121, 0.2);
  background-size: 16px;
  border-left: 5px solid var(--green);
}

.engineList > li:last-child {
  background-color: rgba(81, 152, 183, 0.2);
}

.engineList > li:last-child:hover:after {
  visibility: hidden;
}

/* Price */
.price {
  color: var(--green);
}

.engineList > li:last-child > p.price {
  color: var(--blue);
}