.advertisingContainer {
  display: grid;
  gap: 4px;
  max-width: 180px;
}

.openButton {
  background-color: var(--opacity-10);
  color: var(--gray);
  border: none;
  font-family: 'Titillium', sans-serif;
  text-transform: uppercase;
  padding: 4px;
  cursor: pointer;
}

.closeButton {
  margin-top: 40px;
  background-color: var(--opacity-10);
  color: var(--white);
  border: none;
  box-shadow: inset 0px 0px 0px 1px var(--opacity-20);
  font-family: 'Titillium', sans-serif;
  text-transform: uppercase;
  padding: 4px 8px;
  cursor: pointer;
}

.closeButton:hover, .openButton:hover {
  background-color: var(--opacity-15);
}

.closeButton:active, .openButton:active {
  background-color: var(--opacity-5);
}

.advertisingContainer article {
  display: grid;
}

.advertisingContainer article > h5 {
  text-transform: uppercase;
  text-align: center;
}

.advertisingOverviewButton {
  text-transform: lowercase;
  text-align: center;
  color: var(--gray);
}