.specificationsContainer {
  text-align: right;
  max-width: 300px;
  transform: skew(-5deg);
}

.specificationsContainer > h1 {
  text-transform: uppercase;
}

.specificationsParagraph {
  display: block;
  padding: 8px;
  text-align: left;
  background-color: var(--opacity-15);
}